/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

#btnTransportation {background:url(../images/transportation-icon-071217.png) no-repeat 50% 0;}
#btnPublichHealth {background:url(../images/Public-health-icon-071217.png) no-repeat 50% 0;}
#btnEnergyWater {background:url(../images/energy-environment-icon-071217.png) no-repeat 50% 0;}
#btnInfrasctructure{background:url(../images/infrastructure-icon-071217.png) no-repeat 50% 0;}
#btnDataTech{background:url(../images/data-tech-icon-071217.png) no-repeat 50% 0;}
#btnUrban{background:url(../images/urban-planning-icon-071217.png) no-repeat 50% 0;}

#btnTransportation, 
#btnPublichHealth,
#btnEnergyWater,
#btnInfrasctructure, 
#btnDataTech,
#btnUrban{
    width: 130px;
    height: 170px;
    background-size: 100px 100px;
    border: 0;
    margin: 0 25px;
    padding-top: 110px;
    vertical-align: bottom;
    line-height: 1.1;
    font-weight: bold;
    text-align: center;
}


@media (max-width: 1024px) {
	#btnTransportation, 
	#btnPublichHealth,
	#btnEnergyWater,
	#btnInfrasctructure, 
	#btnDataTech,
	#btnUrban{		
		margin: 0 10px;
		
	}
	
}

@media (max-width: 768px) {
	#btnTransportation, 
	#btnPublichHealth,
	#btnEnergyWater,
	#btnInfrasctructure, 
	#btnDataTech,
	#btnUrban{		
		margin: 0 5px;
		width: 95px;
		height: 170px;
		background-size: 70px 70px;
		padding-top:40px;
		
	}
	
}